* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color:black;
}

.Contact {
    min-height: 100vh;
    width: 80%;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    max-width: 800px;
    margin-left: 270px;
    text-align: center;
    padding: 0.5rem 0;
}

.me{
    letter-spacing: 1px;
    color:rgb(80, 122, 212);
    margin-bottom: 1.2rem;
    font-size: 3rem;
    position: relative;
    font-family: 'Pacifico', cursive;
    padding-bottom: 4rem;
}

.Contact form {
    margin-top: -100px;
    margin-left: 280px;
    width: 100%;
    padding: 30px;
    height: auto;
    background-color:rgb(29, 29, 29);
}

.send {
    text-align: center;
    font-size: 30px;
    color:white;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    padding: 2rem;
}

.inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.Input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    resize: none;
    border-radius: 2rem;
    font-family: 'Pacifico', cursive;
    background: rgb(0, 0, 43);

}

.AInput {
    width: 100%;
    padding: 40px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    resize: none;
    border-radius: 2rem;
    font-family: 'Pacifico', cursive;
    background:rgb(0, 0, 43);
}

.Input :focus~placeholder {
    font-size: 12px;
    transform: translate(-20px);
}

.Input :valid~placeholder{
    color: white;
    font-size: 12px;
    transform: translate(-20px);
}
.AInput :focus~placeholder {
    font-size: 12px;
    transform: translate(-20px);
}

.AInput :valid~placeholder{
    color: white;
    font-size: 12px;
    transform: translate(-20px);
}

.Input[type="submit"] {
    width: 100px;
    background: rgb(0, 0, 43);
    color:gray;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

@media (max-width:991px) {
    .Contact {
        padding: 50px;
    }

    .Contact form {
        width: 100%;
    }

}